<section class="section">
  <div class="container">
    <h2 class="title">Search for tours</h2>
    <form class="select-form">
      <div class="select-wrapper">
        <div class="select">
          <label class="select-title" for="select">Price</label>
          <div class="select__header" data-id="1">
            <div class="select__current">Value 1</div>
            <div class="select__icon">
              <svg class="svg-icon"><use xlink:href="#icon-select"></use></svg>
            </div>
          </div>
          <select class="hidden-select">
            <option class="hidden-select__item" value="0">Value 1</option>
            <option class="hidden-select__item" value="1">Value 2</option>
            <option class="hidden-select__item" value="2">Value 3</option>
            <option class="hidden-select__item" value="3">Value 4</option>
            <option class="hidden-select__item" value="4">Value 5</option>
          </select>
          <ul class="options">
            <li class="options__item" data-value="0">Value 1</li>
            <li class="options__item" data-value="1">Value 2</li>
            <li class="options__item" data-value="2">Value 3</li>
            <li class="options__item" data-value="3">Value 4</li>
            <li class="options__item" data-value="4">Value 5</li>
          </ul>
        </div>
        <div class="select">
          <label class="select-title" for="select">Price</label>
          <div class="select__header" data-id="2">
            <div class="select__current">Value 1</div>
            <div class="select__icon">
              <svg class="svg-icon"><use xlink:href="#icon-select"></use></svg>
            </div>
          </div>
          <select class="hidden-select">
            <option class="hidden-select__item" value="5">Value 1</option>
            <option class="hidden-select__item" value="6">Value 2</option>
            <option class="hidden-select__item" value="7">Value 3</option>
            <option class="hidden-select__item" value="8">Value 4</option>
            <option class="hidden-select__item" value="9">Value 5</option>
          </select>
          <ul class="options">
            <li class="options__item" data-value="5">Value 1</li>
            <li class="options__item" data-value="6">Value 2</li>
            <li class="options__item" data-value="7">Value 3</li>
            <li class="options__item" data-value="8">Value 4</li>
            <li class="options__item" data-value="9">Value 5</li>
          </ul>
        </div>
        <div class="select">
          <label class="select-title" for="select">Price</label>
          <div class="select__header" data-id="3">
            <div class="select__current">Value 1</div>
            <div class="select__icon">
              <svg class="svg-icon"><use xlink:href="#icon-select"></use></svg>
            </div>
          </div>
          <select class="hidden-select">
            <option class="hidden-select__item" value="10">Value 1</option>
            <option class="hidden-select__item" value="11">Value 2</option>
            <option class="hidden-select__item" value="12">Value 3</option>
            <option class="hidden-select__item" value="13">Value 4</option>
            <option class="hidden-select__item" value="14">Value 5</option>
          </select>
          <ul class="options">
            <li class="options__item" data-value="10">Value 1</li>
            <li class="options__item" data-value="11">Value 2</li>
            <li class="options__item" data-value="12">Value 3</li>
            <li class="options__item" data-value="13">Value 4</li>
            <li class="options__item" data-value="14">Value 5</li>
          </ul>
        </div>
        <div class="select">
          <label class="select-title" for="select">Price</label>
          <div class="select__header" data-id="4">
            <div class="select__current">Value 1</div>
            <div class="select__icon">
              <svg class="svg-icon"><use xlink:href="#icon-select"></use></svg>
            </div>
          </div>
          <select class="hidden-select">
            <option class="hidden-select__item" value="15">Value 1</option>
            <option class="hidden-select__item" value="16">Value 2</option>
            <option class="hidden-select__item" value="17">Value 3</option>
            <option class="hidden-select__item" value="18">Value 4</option>
            <option class="hidden-select__item" value="19">Value 5</option>
          </select>
          <ul class="options">
            <li class="options__item" data-value="15">Value 1</li>
            <li class="options__item" data-value="16">Value 2</li>
            <li class="options__item" data-value="15">Value 3</li>
            <li class="options__item" data-value="15">Value 4</li>
            <li class="options__item" data-value="15">Value 5</li>
          </ul>
        </div>
      </div>
      <button class="btn">Find tours</button>
    </form>
  </div>
  <img class="tours-mountain-img" src="../../images/search-mountains.png" alt="mountains-search" />
</section>
