<section class="section">
  <div class="container">
      <h2 class="title">Search for tours</h2>
      <form class="select-wrapper">
        <div class="select">
          <label class="select-title" for="select">Category</label>
          <select class="select__body">
            <option class="select__item">Value 1</option>
            <option class="select__item">Value 2</option>
            <option class="select__item">Value 3</option>
            <option class="select__item">Value 4</option>
            <option class="select__item">Value 5</div>
          </select>
        </div>
        <div class="select">
          <label class="select-title" for="select">Tag</label>
          <select class="select__body">
            <option class="select__item">Value 1</option>
            <option class="select__item">Value 2</option>
            <option class="select__item">Value 3</option>
            <option class="select__item">Value 4</option>
            <option class="select__item">Value 5</div>
          </select>
        </div>
        <div class="select">
          <label class="select-title" for="select">Duration</label>
          <select class="select__body">
            <option class="select__item">Value 1</option>
            <option class="select__item">Value 2</option>
            <option class="select__item">Value 3</option>
            <option class="select__item">Value 4</option>
            <option class="select__item">Value 5</div>
          </select>
        </div>
        <div class="select">
          <label class="select-title" for="select">Price</label>
          <select class="select__body">
            <option class="select__item">Value 1</option>
            <option class="select__item">Value 2</option>
            <option class="select__item">Value 3</option>
            <option class="select__item">Value 4</option>
            <option class="select__item">Value 5</div>
          </select>
        </div>
  
      </form>
      <button class="btn">Find tours</button>
    </div>
  <img class="tours-mountain-img" src="../../images/search-mountains.png" alt="mountains-search" />
</section>
