<section class="section">
  <div class="container container__medium">
    <div class="daily">
      <h4 class="title">Daily tours</h4>
      <div class="thumbs-wrapper" style="background-image: url(../../images/mountains2.png)">
        <a href="#" class="thumb">
          <div class="swiper__img-wrapper">
            <img src="../../images/deer.png" alt="swiper__img" class="swiper__img" />
          </div>
          <div class="card-data">
            <div class="raiting">
              <ul class="raiting-stars">
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
              </ul>
              <span class="reviews">125 Reviews</span>
            </div>
            <h4 class="card-title">Northern Lights and Snowmobile riding</h4>

            <div class="card-info">
              <time datetime="12" class="card-duration">Duration - 12 hours</time>
              <strong class="card-price"> 95€</strong>
            </div>
          </div>
        </a>
        <a href="#" class="thumb">
          <div class="swiper__img-wrapper">
            <img src="../../images/deer.png" alt="swiper__img" class="swiper__img" />
          </div>
          <div class="card-data">
            <div class="raiting">
              <ul class="raiting-stars">
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
              </ul>
              <span class="reviews">125 Reviews</span>
            </div>
            <h4 class="card-title">Northern Lights and Snowmobile riding</h4>

            <div class="card-info">
              <time datetime="12" class="card-duration">Duration - 12 hours</time>
              <strong class="card-price"> 95€</strong>
            </div>
          </div>
        </a>
        <a href="#" class="thumb">
          <div class="swiper__img-wrapper">
            <img src="../../images/deer.png" alt="swiper__img" class="swiper__img" />
          </div>
          <div class="card-data">
            <div class="raiting">
              <ul class="raiting-stars">
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
              </ul>
              <span class="reviews">125 Reviews</span>
            </div>
            <h4 class="card-title">Northern Lights and Snowmobile riding</h4>

            <div class="card-info">
              <time datetime="12" class="card-duration">Duration - 12 hours</time>
              <strong class="card-price"> 95€</strong>
            </div>
          </div>
        </a>
        <a href="#" class="thumb">
          <div class="swiper__img-wrapper">
            <img src="../../images/deer.png" alt="swiper__img" class="swiper__img" />
          </div>
          <div class="card-data">
            <div class="raiting">
              <ul class="raiting-stars">
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
              </ul>
              <span class="reviews">125 Reviews</span>
            </div>
            <h4 class="card-title">Northern Lights and Snowmobile riding</h4>

            <div class="card-info">
              <time datetime="12" class="card-duration">Duration - 12 hours</time>
              <strong class="card-price"> 95€</strong>
            </div>
          </div>
        </a>
        <a href="#" class="thumb">
          <div class="swiper__img-wrapper">
            <img src="../../images/deer.png" alt="swiper__img" class="swiper__img" />
          </div>
          <div class="card-data">
            <div class="raiting">
              <ul class="raiting-stars">
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
                <li class="raiting-stars__item">
                  <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                </li>
              </ul>
              <span class="reviews">125 Reviews</span>
            </div>
            <h4 class="card-title">Northern Lights and Snowmobile riding</h4>

            <div class="card-info">
              <time datetime="12" class="card-duration">Duration - 12 hours</time>
              <strong class="card-price"> 95€</strong>
            </div>
          </div>
        </a>
      </div>
      <button class="btn">View all popular tours</button>
   
    </div>
  </div>
</section>
