<footer class="footer">
  <div class="container container__medium">
    <h6 class="footer__title">Subscribe to our newsletter</h6>
    <form class="form">
      <label class="form__label">
        <p class="form__text">Enter your email</p>
        <input type="text" name="send-email" class="form__input" placeholder="Example@gmail.com" />
      </label>
      <button class="btn-footer">Subscribe</button>
    </form>
    <section class="info">
      <div class="contacts">
        <h6 class="info__title">Contacts</h6>
        <div class="contact__links">
          <a href="#" class="contact__link">
            <svg class="svg-icon"><use xlink:href="#icon-location"></use></svg>
            <p class="contact__link-text">438 Example Street, San Francisco, CA 94528, USA</p>
          </a>
          <a href="#" class="contact__link">
            <svg class="svg-icon"><use xlink:href="#icon-phone"></use></svg>
            <p class="contact__link-text">+47-124-82-232</p>
          </a>
        </div>
      </div>
    </section>
  </div>
</footer>
