<footer class="footer">
  <div class="container container__medium">
    <h6 class="footer__title">Subscribe to our newsletter</h6>
    <form class="form">
      <label class="form__label">
        <p class="form__text">Enter your email</p>
        <input type="text" name="send-email" class="form__input" placeholder="Example@gmail.com" />
      </label>
      <button class="btn-footer">Subscribe</button>
    </form>
    <section class="info">
      <div class="contacts">
        <h6 class="info__title">Contacts</h6>
        <div class="contact__links">
          <a
            href="https://www.google.com/maps/place/Golden+Gate+Bridge/@37.8199328,-122.4804438,17z/data=!3m1!4b1!4m5!3m4!1s0x808586deffffffc3:0xcded139783705509!8m2!3d37.8199286!4d-122.4782551"
            class="contact__link"
          >
            <svg class="svg-icon"><use xlink:href="#icon-location"></use></svg>
            <p class="contact__link-text">438 Example Street, San Francisco, <>CA 94528, USA</p>
          </a>
          <a href="tel:+47-124-82-232" class="contact__link">
            <svg class="svg-icon"><use xlink:href="#icon-phone"></use></svg>
            <p class="contact__link-text">+47-124-82-232</p>
          </a>
        </div>
      </div>
    </section>
  </div>
</footer>
