<section class="section">
  <div class="container medium">
    <h3 class="title">Popular tours</h3>
    <div class="swiper-container">
      <div class="swiper-button-prev-arrow">
        <svg class="svg-icon"><use xlink:href="#icon-arrow-little"></use></svg>
      </div>
      <div class="swiper">
        <div class="swiper__inner">
          <div class="swiper-wrapper">
            <a href="#" class="swiper-slide">
              <div class="swiper__img-wrapper">
                <img src="../../images/deer.png" alt="swiper__img" class="swiper__img" />
              </div>
              <div class="card-data">
                <div class="raiting">
                  <ul class="raiting-stars">
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                  </ul>
                  <span class="reviews">125 Reviews</span>
                </div>
                <h4 class="card-title">Northern Lights and Snowmobile riding</h4>
                <div class="card-subtitle">
                  Seeing the northern lights can be hard under the bright lights
                </div>
                <div class="card-info">
                  <span datespan="12" class="card-duration">Duration - 12 hours</span>
                  <strong class="card-price"> 95€</strong>
                </div>
              </div>
            </a>
            <a href="#" class="swiper-slide">
              <div class="swiper__img-wrapper">
                <img src="../../images/deer.png" alt="swiper__img" class="swiper__img" />
              </div>
              <div class="card-data">
                <div class="raiting">
                  <ul class="raiting-stars">
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                  </ul>
                  <span class="reviews">125 Reviews</span>
                </div>
                <h4 class="card-title">Northern Lights and Snowmobile riding</h4>
                <div class="card-subtitle">
                  Seeing the northern lights can be hard under the bright lights
                </div>
                <div class="card-info">
                  <span datespan="12" class="card-duration">Duration - 12 hours</span>
                  <strong class="card-price"> 95€</strong>
                </div>
              </div>
            </a>
            <a href="#" class="swiper-slide">
              <div class="swiper__img-wrapper">
                <img src="../../images/deer.png" alt="swiper__img" class="swiper__img" />
              </div>
              <div class="card-data">
                <div class="raiting">
                  <ul class="raiting-stars">
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                  </ul>
                  <span class="reviews">125 Reviews</span>
                </div>
                <h4 class="card-title">Northern Lights and Snowmobile riding</h4>
                <div class="card-subtitle">
                  Seeing the northern lights can be hard under the bright lights
                </div>
                <div class="card-info">
                  <span datespan="12" class="card-duration">Duration - 12 hours</span>
                  <strong class="card-price"> 95€</strong>
                </div>
              </div>
            </a>
            <a href="#" class="swiper-slide">
              <div class="swiper__img-wrapper">
                <img src="../../images/deer.png" alt="swiper__img" class="swiper__img" />
              </div>
              <div class="card-data">
                <div class="raiting">
                  <ul class="raiting-stars">
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                  </ul>
                  <span class="reviews">125 Reviews</span>
                </div>
                <h4 class="card-title">Northern Lights and Snowmobile riding</h4>
                <div class="card-subtitle">
                  Seeing the northern lights can be hard under the bright lights
                </div>
                <div class="card-info">
                  <span datespan="12" class="card-duration">Duration - 12 hours</span>
                  <strong class="card-price"> 95€</strong>
                </div>
              </div>
            </a>
            <a href="#" class="swiper-slide">
              <div class="swiper__img-wrapper">
                <img src="../../images/deer.png" alt="swiper__img" class="swiper__img" />
              </div>
              <div class="card-data">
                <div class="raiting">
                  <ul class="raiting-stars">
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                  </ul>
                  <span class="reviews">125 Reviews</span>
                </div>
                <h4 class="card-title">Northern Lights and Snowmobile riding</h4>
                <div class="card-subtitle">
                  Seeing the northern lights can be hard under the bright lights
                </div>
                <div class="card-info">
                  <span datespan="12" class="card-duration">Duration - 12 hours</span>
                  <strong class="card-price"> 95€</strong>
                </div>
              </div>
            </a>
            <a href="#" class="swiper-slide">
              <div class="swiper__img-wrapper">
                <img src="../../images/deer.png" alt="swiper__img" class="swiper__img" />
              </div>
              <div class="card-data">
                <div class="raiting">
                  <ul class="raiting-stars">
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                  </ul>
                  <span class="reviews">125 Reviews</span>
                </div>
                <h4 class="card-title">Northern Lights and Snowmobile riding</h4>
                <div class="card-subtitle">
                  Seeing the northern lights can be hard under the bright lights
                </div>
                <div class="card-info">
                  <span datespan="12" class="card-duration">Duration - 12 hours</span>
                  <strong class="card-price"> 95€</strong>
                </div>
              </div>
            </a>
            <a href="#" class="swiper-slide">
              <div class="swiper__img-wrapper">
                <img src="../../images/deer.png" alt="swiper__img" class="swiper__img" />
              </div>
              <div class="card-data">
                <div class="raiting">
                  <ul class="raiting-stars">
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                  </ul>
                  <span class="reviews">125 Reviews</span>
                </div>
                <h4 class="card-title">Northern Lights and Snowmobile riding</h4>
                <div class="card-subtitle">
                  Seeing the northern lights can be hard under the bright lights
                </div>
                <div class="card-info">
                  <span datespan="12" class="card-duration">Duration - 12 hours</span>
                  <strong class="card-price"> 95€</strong>
                </div>
              </div>
            </a>
            <a href="#" class="swiper-slide">
              <div class="swiper__img-wrapper">
                <img src="../../images/deer.png" alt="swiper__img" class="swiper__img" />
              </div>
              <div class="card-data">
                <div class="raiting">
                  <ul class="raiting-stars">
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                    <li class="raiting-stars__item">
                      <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
                    </li>
                  </ul>
                  <span class="reviews">125 Reviews</span>
                </div>
                <h4 class="card-title">Northern Lights and Snowmobile riding</h4>
                <div class="card-subtitle">
                  Seeing the northern lights can be hard under the bright lights
                </div>
                <div class="card-info">
                  <span datespan="12" class="card-duration">Duration - 12 hours</span>
                  <strong class="card-price"> 95€</strong>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-button-next-arrow">
        <svg class="svg-icon"><use xlink:href="#icon-arrow-little"></use></svg>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <button class="btn popular">View all popular tours</button>
  </div>
</section>
