@import '../theme/variables';
@import '../theme/mixins';
@import '../theme/template';

.background {
  &-container {
    background: url('../../images/mountains-bg.png') no-repeat;
    background-size: cover;
    background-position: top;
  }
  &__inner {
    max-width: $smallcontainer;
    margin: 0 auto;
    padding: 2.5rem 1rem;
    text-align: center;
    @media screen and (min-width: 768px) {
      padding: 17.5rem 1.5rem;
    }
  }
  &__title {
    font-size: 3.5rem;
    @extend %white-centred-text;
    @include font($primary-font);
    @media screen and (min-width: 768px) {
      font-size: 6.5rem;
    }
  }
  &__subtitle {
    font-size: 0.9rem;
    @extend %white-centred-text;
    margin: 1rem 0 0 0;
    @media screen and (min-width: 768px) {
      font-size: 1rem;
      margin: 1.8rem 0 0 0;
    }
  }
  &__btn {
    @extend %btn;
  }
}
.btn-text {
  color: $white;
  font-weight: bold;
}
