@import '../theme/variables';

.footer {
  padding: 65px 0;
  background-image: url('../../images/footer.png');
  background-size: cover;

  &__title {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
  }
}

.form {
  display: flex;
  margin-top: 40px;
  justify-content: center;

  &__text {
    color: $c-gray;
    margin-bottom: 12px;
    font-size: 14px;
  }

  &__input {
    width: 368px;
    height: 52px;
    border: none;
    padding: 0 20px;
    border-radius: 133px;
  }
}

.btn
