@import '../theme/variables';
@import '../theme/mixins';
@import '../theme/template';

.header-wrapper {
  display: flex;
  padding: 20px 0 0 0;
  @media screen and (min-width: 426px) {
    padding: 38px 0 0 0;
  }
}
.phone {
  margin: 0 1em 0 0;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.phone-number {
  color: $black;
  display: none;
  @media screen and (min-width: 426px) {
    display: flex;
  }
}
.logo {
  margin: 0 1rem 0 0;
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 1px;
  display: flex;
  justify-content: center;
}
.search {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 1rem 0 0;
  @extend %flex-align-element-center;
}
.logo__img {
  display: block;
}
.search-input {
  display: none;
  @media screen and (min-width: 426px) {
    display: flex;
  }
}
