@import '../theme/variables';
@import '../theme/mixins';
@import '../theme/template';

.header-wrapper {
  display: flex;
  padding: 20px 0 0 0;
  @media screen and (min-width: 426px) {
    padding: 38px 0 0 0;
  }
}
.phone {
  margin: 0 0.8rem 0 0;
  @extend %flex-align-element-center, %flex-shrink-0;
  @media screen and (max-width: 768px) {
    margin: 0 1rem 0 0;
  }
}
.phone-number {
  color: $black;
  display: none;
  @media screen and (min-width: 500px) {
    display: flex;
    margin: 0 0 0 5px;
  }
  @media screen and (max-width: 768px) {
    font-size: $fs12;
  }
}
.logo {
  margin: 0 5px 0 0;
  @extend %flex-shrink-1, %flex-justify-element-center;
}
.search {
  margin: 0 1rem 0 0;
  @extend %flex-align-element-center, %flex-shrink-0;
  .svg-icon {
    cursor: pointer;
    margin: 0 0 0 1rem;
  }
  .icon-cross {
    display: none;
  }
  &.search-opened {
    .search-input {
      @extend %not-visible 
      // max-width: 100px;
    }
    .icon-cross {
      display: flex;
    }
    .icon-search {
      display: none;
    }
  }
}
.logo__img {
  display: block;
  max-width: 100px;
  @media screen and (min-width: 425px) {
    max-width: 200px;
  }
  @media screen and (min-width: 768px) {
    max-width: 100%;
  }
}
.open-search {
  @extend %btn-reset, %flex-align-element-center;
}
.search-input {
  @extend %visible;
  border-radius: 5px;
  border: 1px solid $black;
  height: 15px;
  max-width: 100px;
  width: 100%;
  padding: 5px 10px;
  @media screen and (min-width: 425px) {
    max-width: 150px;
  }
  @media screen and (min-width: 768px) {
    height: 20px;
    max-width: 400px;
  }
}
.user {
  display: flex;
  align-items: center;
  position: relative;
  @extend %flex-shrink-0;
  // &.user-opened {
  //   .user-name {
  //     position: absolute;
  //     top: calc(100% + 10px);
  //     right: 0;
  //     display: flex;
  //   }
  // }
}
.user-name {
  display: none;
  margin: 0 0 0 10px;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.user-img {
  @extend %flex-align-element-center;
}
.menu {
  padding: 0;
  margin: 20px auto 0;
  max-width: 1200px;

  &-inner {
    flex-direction: column;
    align-items: center;
    @extend %flex-justify-element-center, %no-burger;
    transition: transform 0.3s, opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
    @media screen and (min-width: 768px) {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
    @media screen and (min-width: 768px) {
      margin: 30px auto 0;
      flex-direction: row;
    }
  }

  &-item {
    margin: 0 0 10px 0;
    @media screen and (min-width: 768px) {
      margin: 0 2rem 0 0;
    }

    &:last-child {
      margin: 0;
    }

    &__link {
      font-size: $fs16;
      color: $menucolor;
      @media screen and (min-width: 1024px) {
        font-size: $fs18;
      }
    }
  }
  &-burger {
    flex-direction: column;
    @extend %flex-align-element-center;
    height: 30px;
    position: relative;
    @media screen and (min-width: 768px) {
      display: none;
    }
    &__item {
      width: 30px;
      height: 3px;
      background-color: $black;
      margin: 0 0 5px 0;
      transition: 0.1s ease-in-out;
      position: absolute;
      &:nth-child(1) {
        display: flex;
        top: 0%;
      }
      &:nth-child(2) {
        opacity: 1;
        top: 25%;
      }
      &:nth-child(3) {
        display: flex;
        top: 50%;
      }
    }
  }
  &.menu-opened {
    .menu-burger {
      &__item {
        background: #276fdb;
        // left: 4px;
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
          top: 0%;
        }
      }
    }
    .menu-inner {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }
}
