@import '../theme/variables';
@import '../theme/mixins';
@import '../theme/template';
.description {
  display: flex;
  flex-direction: column;
  // align-items: center;

  &-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 17px;

    margin: 0 0 20px 0;
    border-radius: 10px;
    overflow: hidden;
    @media screen and (max-width: 768px){
    
    }
  }
  &-text {
    color: $grey3;
  }
  &-img {
    width: 256px;
    height: 170px;
  }
}
