@import '../theme/variables';
@import '../theme/mixins';
@import '../theme/template';
.description {
  display: flex;
  flex-direction: column;
  // display: grid;
  // grid-auto-flow: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }

  &-images {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 20px 0;
    align-self: center;
    @media screen and (min-width: 768px) {
      border-radius: 10px;
      overflow: hidden;
      width: 45%;
      margin: 0 50px 0 0;
    }
  }
  &-text {
    color: $grey3;
    
    @media screen and (min-width: 768px) {
      width: 55%;
    }
  }
  &-img {
    width: calc(50% - 10px);
    margin: 10px 10px 0 0;
    &:nth-child(1) {
      border-radius: 35px 0 0 0;
    }
    &:nth-child(2) {
      border-radius: 0 35px 0 0;
    }
    &:nth-child(3) {
      border-radius: 0 0 0 35px;
    }
    &:nth-child(4) {
      border-radius: 0 0 35px;
    }
  }
}
