<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <a class="phone" href="tel:+47-124-82-232">
        <svg class="svg-icon"><use xlink:href="#icon-phone-black"></use></svg>
        <span class="phone-number">+47-124-82-232</span>
      </a>
      <a class="logo" href="#">
        <img src="../../images/logo.svg" class="logo__img" alt="" />
      </a>
      <div class="search">
        <input type="search" placeholder="Search for minimalist chair" class="search-input" />
        <button class="open-search">
          <svg class="svg-icon icon-search"><use xlink:href="#icon-search"></use></svg>
          <svg class="svg-icon icon-cross"><use xlink:href="#icon-cross"></use></svg>
        </button>
      </div>
      <div class="user">
        <span class="user-img">
          <svg class="svg-icon"><use xlink:href="#icon-user"></use></svg
        ></span>
        <span class="user-name">Elena</span>
      </div>
    </div>

    <menu class="menu">
      <div class="menu-burger">
        <span class="menu-burger_item"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div>
      <ul class="menu_inner">
        <li class="menu-item">
          <a href="#" class="menu-text">Home</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-text">Search for tours</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-text">Popular tours</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-text">Daily tours</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-text">About us</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-text">Reviews</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-text">Contacts</a>
        </li>
      </ul>
    </menu>
  </div>
</header>
