<header class="header">
    <div class="header-wrapper"> 
        <div class="phone">
            <svg class="svg-icon"><use xlink:href="#icon-phone-black"></use></svg>
            <span class="phone-number">+47-124-82-232</span>
        </div>
        <a class="logo">
            <img src="../../images/logo.svg" class='logo__img' alt=""> 
        </a>
        <div class="search">
        <button class="open-search">       
            <svg class="svg-icon"><use xlink:href="#icon-search"></use></svg>
        </button>
            <input type="search" placeholder="Search for minimalist chair" class="search-input"> 
        </div>
    </div>
    <menu class="menu">
        <li class="menu-item"> 
            <div class="menu__item-text-wrapper"> 
                <span class="menu-text__title">Products</span> 
                <img class='menu-text__img' src="../../images/icon.svg" alt=""> 
            </div>
            <ul class="menu-dropdown"> 
                <li class="menu-dropdown__el">Product 1</li> 
                <li class="menu-dropdown__el">Product 2</li> 
                <li class="menu-dropdown__el">Product 3</li> 
                <li class="menu-dropdown__el">Product 4</li> 
            </ul>
        </li>
        <li class="menu-item"> 
            <div class="menu-text"> 
                <span class="menu-text__title">Rooms</span>
                <img class='menu-text__img' src="../../images/icon.svg" alt=""> 
            </div>
            <ul class="menu-dropdown"> 
                <li class="menu-dropdown__el">Product 1</li> 
                <li class="menu-dropdown__el">Product 2</li> 
                <li class="menu-dropdown__el">Product 3</li> 
                <li class="menu-dropdown__el">Product 4</li> 
            </ul>
        </li>
        <li class="menu-item"> 
            <a href='#' class="menu-link">Ispirations</a> 
        </li>
    </menu>
</header>