<header class="header">
    <div class="header__wrapper"> // header-wrapper
        <a class="logo">
            <img src="../../images/logo.svg" class='logo__img' alt=""> // logo-img
        </a>
        <menu class="menu">
            <li class="menu-item"> // в данном случае - menu-item
                <div class="menu__item-text-wrapper"> // что это? нет понимания структуры блока - menu-text
                    <span class="menu-text__title">Products</span> // menu-text__title
                    <img class='menu-text__img' src="../../images/icon.svg" alt=""> // menu-text__img
                </div>
                <ul class="menu-dropdown"> // menu-dropdown
                    <li class="menu-dropdown__el">Product 1</li> // menu-dropdown__el
                    <li class="menu-dropdown__el">Product 2</li> // menu-dropdown__el
                    <li class="menu-dropdown__el">Product 3</li> // menu-dropdown__el
                    <li class="menu-dropdown__el">Product 4</li> // menu-dropdown__el
                </ul>
            </li>
            <li class="menu-item"> // menu-item
                <div class="menu-text"> // menu-text
                    <span class="menu-item__title">Rooms</span> // menu-text__title
                    <img class='menu-text-wrapper-img' src="../../images/icon.svg" alt=""> // menu-text__img
                </div>
                <ul class="menu__item-dropdown"> // menu-dropdown
                    <li class="menu__item-dropdown-element">Product 1</li> // menu-dropdown__el
                    <li class="menu__item-dropdown-element">Product 2</li> // menu-dropdown__el
                    <li class="menu__item-dropdown-element">Product 3</li> // menu-dropdown__el
                    <li class="menu__item-dropdown-element">Product 4</li> // menu-dropdown__el
                </ul>
            </li>
            <li class="menu__item"> // menu-item
                <a href='#' class="menu_link">Ispirations</a> // menu-link или же обернуть в div с классом
                menu-link, и уже на ссылку записать класс - menu-link__el
            </li>
        </menu>
        <div class="search">
            <input type="search" placeholder="Search for minimalist chair"> // где класс? search-input
        </div>
    </div>
</header>