<header class="header">
  <div class="container">
    <div class="header__top-block">
      <a class="phone" href="tel:+47-124-82-232">
        <svg class="svg-icon"><use xlink:href="#icon-phone-black"></use></svg>
        <span class="phone-number">+47-124-82-232</span>
      </a>
      <div class="logo">
        <a class="logo-inner" href="#">
          <img src="../../images/logo.svg" class="logo__img" alt="" />
        </a>
      </div>
    
      <div class="search">
        <input type="search" placeholder="Search for minimalist chair" class="search-input" />
        <button class="open-search">
          <svg class="svg-icon icon-search"><use xlink:href="#icon-search"></use></svg>
          <svg class="svg-icon icon-cross"><use xlink:href="#icon-cross"></use></svg>
        </button>
      </form>
      <div class="user">
        <span class="user-img">
          <svg class="svg-icon"><use xlink:href="#icon-user"></use></svg
        ></span>
        <span class="user-name">Elena</span>
      </div>
    </div>

    <menu class="menu">
      <div class="menu-burger">
        <span class="menu-burger__item"></span>
        <span class="menu-burger__item"></span>
        <span class="menu-burger__item"></span>
      </div>
      <ul class="menu-inner">
        <li class="menu-item">
          <a href="#" class="menu-item__link">Home</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-item__link">Search for tours</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-item__link">Popular tours</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-item__link">Daily tours</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-item__link">About us</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-item__link">Reviews</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-item__link">Contacts</a>
        </li>
      </ul>
    </menu>
  </div>
</header>
