<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <a class="logo">
                <img src="../../images/logo.svg" class='logo__img' alt="">
            </a>
            <menu class="menu">
                <li class="menu__item">
                    <div class="menu__item-text-wrapper">
                        <span class="menu__item-text-wrapper-title">Products</span>
                        <img class='menu__item-text-wrapper-img' src="../../images/icon.svg" alt="">
                    </div>
                    <ul class="menu__item-dropdown">
                        <li class="menu__item-dropdown-element">Product 1</li>
                        <li class="menu__item-dropdown-element">Product 2</li>
                        <li class="menu__item-dropdown-element">Product 3</li>
                        <li class="menu__item-dropdown-element">Product 4</li>
                    </ul>
                </li>
                <li class="menu__item">
                    <div class="menu__item-text-wrapper">
                        <span class="menu__item-text-wrapper-title">Rooms</span>
                        <img class='menu__item-text-wrapper-img' src="../../images/icon.svg" alt="">
                    </div>
                    <ul class="menu__item-dropdown">
                        <li class="menu__item-dropdown-element">Product 1</li>
                        <li class="menu__item-dropdown-element">Product 2</li>
                        <li class="menu__item-dropdown-element">Product 3</li>
                        <li class="menu__item-dropdown-element">Product 4</li>
                    </ul>

                </li>
                <li class="menu__item">
                    <a href='#' class="menu_link">Ispirations</a>
                </li>
            </menu>
            <div class="search">
                <input type="search" placeholder="Search for minimalist chair">
            </div>
        </div>
    </div>
</header>