%flex-align-element-center {
  display: flex;
  align-items: center;
}
%flex-justify-element-center {
  display: flex;
  justify-content: center;
}
%flex-shrink-0 {
  flex-grow: 0;
  flex-shrink: 0;
}
%flex-shrink-1 {
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 1px;
}
%btn-reset {
  outline: none;
  border: none;
  background-color: transparent;
}
