//    Font Family
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

$primary-font: 'Gilroy-Bold', sans-serif;

/*--------------------------- Color variations ----------------------*/

$redColor: #ff0032;
$yellowColor: #f6a326;
$white: #fff;
$black: #000;
$menucolor: #061e33;
$grey: #f2f7ff;
$titlegrey: #888ea0;
$container: 1870px;
$grey2: #373f55;
$grey3: #464649;
$grey
$fs12: 12px;
$fs14: 14px;
$fs18: 18px;
$fs16: 16px;
$smallcontainer: 1400px;
$contantContainer: 1310px;
