<section class="section">
  <!-- <div class="container"> -->
  <h6 class="title">Reviews</h6>
  <div class="swiper2">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slider _reviews">
        <div class="user-wrapper">
          <div class="user">
            <img src="../../images/user-review.png" alt="user-review" class="user-review" />
            <div class="user__info">
              <div class="user__name">Brian Cooper</div>
              <div class="city">New York, NY</div>
            </div>
          </div>
          <ul class="raiting-stars">
            <li class="raiting-stars__item">
              <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
            </li>
            <li class="raiting-stars__item">
              <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
            </li>
            <li class="raiting-stars__item">
              <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
            </li>
            <li class="raiting-stars__item">
              <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
            </li>
            <li class="raiting-stars__item">
              <svg class="svg-icon"><use xlink:href="#icon-star"></use></svg>
            </li>
          </ul>
        </div>
        <blockquote class="user__quote">
          It was the most exciting excursion in my life I’m so grateful to the North for their
          service and professionalism! Thanks!
        </blockquote>
        <div class="link"><a href="#" class="user__link">View more</a></div>
      </div>
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <!-- </div> -->
</section>
