<section class="section">
  <div class="container container__medium">
    <h5 class="title">Who we are?</h5>
    <div class="description">
      <div class="description-images">
        <img src="../../images/womans.png" alt="description-img" class="description-img" />
        <img src="../../images/womans.png" alt="description-img" class="description-img" />
        <img src="../../images/womans.png" alt="description-img" class="description-img" />
        <img src="../../images/womans.png" alt="description-img" class="description-img" />
      </div>
      <div class="description-text">
        <p class="description__text-item">
        Our company has years of experience in the world of tourism, providing excursions. We take
        care of our clients and all our staff is the most qualified professionals. We try to make
        our clients happy and make each excursion unforgettable for them.
        <br />
        <!-- </p> -->
        <!-- <p class="description__text-item"> -->
        We have the newest equipment everywhere you need it. We like animals and nature, that’s why
        our pets the happiest and the most beautiful.
        <br />
        <!-- </p> -->

        <!-- <p class="description__text-item"> -->
        Let’s travel with us. We will make your life brighter.

        </p>
      </div>
    </div>
  </div>
</section>
